@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
    font-family: 'Intro Regular Alt';
    src: url('Intro\ Regular\ Alt.otf') format('opentype');
    font-weight: 300;
    font-style: bold;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intro Regular Alt', sans-serif;
    font-style: bold;
}

body {
    min-height: 100vh;
    background-color: #033C43;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006A73;
    z-index: 3;
}

/* Logo */
.logo {
    margin-left: -70px;
    pointer-events: none;
}

/* Navbar */
.navbar a {
    position: relative;
    font-size: 30px;
    font-style: bold;
    color: #fff;
    font-weight: 1000;
    text-decoration: none;
    margin-left: 80px;
    z-index: 30;
}

/* Navbar underline thingy */
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* Navbar decline thingy under ABOUT */
.navbar span {
    background-color: #fff;
    border-radius: 30px;
    color: #006A73;
    padding: 20px;
    position: relative;
    display: inline-block;
}

.no-underline:hover::before {
    content: none;
}

/* Big white rectangle under green background */
.bigwhiterectangle {
    position: absolute;
    top: 600px;
    left: 0;
    width: 100%;
    height: 1800px;
    background-color: #fff;
    z-index: -1;
}


/* Big green and grey blob */
.green-blob {
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.green-blob {
    position: absolute;
    top: 450px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.grey-blob {
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.grey-blob {
    position: absolute;
    top: 550px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Project intro */
.Project-intro {
    font-family: 'Intro Regular Alt', sans-serif;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 350px;
    z-index: 2;
}

.Project-intro h1 {
    margin: 10px 0;
    font-size: 80px;
}

.Project-intro h2 {
    margin: 10px 0;
    width: 800px;
    font-size: 30px;
    line-height: 40px;
}

.Project-intro p {
    margin: 10px 0;
    width: 150px;
    font-size: 20px;
    line-height: 40px;
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 0;
}

/* arrow down */
.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    bottom: -11rem;
    left: 50%;
    transform: translate(-50%);
}

.arrow-container i {
    font-size: 100px;
    color: #fff; 
    margin-bottom: 100%;
}

.links {
    color: #fff;
}
