body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

section {
    padding: 50px;
}

#about {
    background-color: blue;
}

#projects {
    background-color: red;
}

#contact {
    background-color: blue;
}
